.ItemPage-items { 
    margin: 0; padding: 0; 
} 

.ItemPage-items li { 
    list-style: none; 
    margin-bottom: 20px; 
}

.Item-addToCart { 
    margin-bottom: 5px; 
    font-size: 14px; 
    border: 2px solid #FFAA3F; 
    background-color: #fff; 
    border-radius: 3px; 
    cursor: pointer; 
} 

.Item-addToCart:hover { 
    background-color: #FFDDB2; 
} 

.Item-addToCart:active { 
    background-color: #ED8400; 
    color: #fff; outline: none; 
} 

.Item-addToCart:focus { 
    outline: none; 
} 

.Item-addToCart.carted { 
    background-color: #9ac46b; 
} 